{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}password_change{% endblock %}


{% block content %}
<div class="container">
	<form action="" method="POST" class="text-center border border-light mt-5 mb-4 p-5" novalidate>
	<h3 class="text-center text-muted ">Change the Password</h3>
	{% csrf_token %}

	{{form|crispy}}

	<input type="submit" class="btn bg-secondary text-light btn-block mt-4" value="Change Password">
</form>

</div>
<div class="fixed-bottom">
    {% include 'footer.html' %}
</div>



{% endblock %}
