{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}password_reset{% endblock %}


{% block content %}
<div class="container">
	{% if validlink %}
<form action="" method="POST" class="text-center border border-light mt-5 mb-4 p-5">
	<h3 class="text-center text-muted ">Reset Your Password</h3>
	{% csrf_token %}

	{{form|crispy}}

	<input type="submit" class="btn btn-info btn-block mt-4" value="Reset Password">
</form>
{% else %}
<div class="password-reset">
	<p>The Password reset Email link was invalid.You can request for another One <a href="{% url 'password_reset' %}">Get Link</a></p>

	
	
</div>

{% endif %}
</div>

<div class="fixed-bottom">
	{% include 'footer.html' %}
</div>




{% endblock %}
