{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}password_reset{% endblock %}


{% block content %}
<div class="container"> 
	<div class="row d-flex justify-content-center align-items-center">
		<div class="col-m-7">
			
				<form action="" method="POST" class="text-center border border-light mt-5 mb-4 p-5" novalidate>
					{% csrf_token %}
					<h3 class="text-center text-muted ">Reset Your Password</h3>
					

					{{form|crispy}}

					<input type="submit" class="btn bg-secondary text-light btn-block mt-4" value="send">
				</form>
			
		</div>
	</div>
	

</div>

<div class="fixed-bottom">
  {% include 'footer.html' %}
</div>



{% endblock %}
