{% load static %}
	<footer class="page-footer font-small bg-secondary pt-4">
		<div class="container">
		<div class="row">
			<div class="col-md-4 mb-4">
				<img src="{% static 'images/logo.jpg' %}" width="40">
				<p>
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="row">
					<div class="col-md-2">
						<p title="facebook" style="font-size: 26px;"><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></p>
					</div>
					<div class="col-md-2">
						<p title="github" style="font-size: 26px;"><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></p>
					</div>
					<div class="col-md-2">
						<p title="twitter" style="font-size: 26px;"><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-2">
						<p title="instagram" style="font-size: 26px;"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></p>
					</div>
				</div>
			</div>
			<div class="col-md-5 mb-4">
				<ul class="nav nav-tabs flex-column text-center">
					<li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
					{% if user.is_authenticated %}
					<li class="nav-item"><a href="{% url 'post-create' %}" class="nav-link">Write A blog</a></li>
					{% endif %}
					<li class="nav-item"><a href="{% url 'Events' %}" class="nav-link">Events</a></li>
				</ul>
			</div>
		</div>
		</div>
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
		 Data Science East Africa
		</div>
	</footer>

