{% extends 'base.html' %}
{% load static %}



{% block title %}Home # DataScienceEastAfrica {% endblock %}

{% block content %}
<div class="container">
   <div class="row">
        <div class="col-md-8 mt-5">
          {% for post in posts %}
            <div class="card">
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body">
                  <a href="{% url 'post-detail' post.id %}"><h4 class="card-title">{{ post.title }}</h4></a>
                  <p class="card-text">{{ post.content }}</p>
                  <small class=""> By {{ post.author }}</small>
                  <small class="text-muted">on {{ post.date_posted|date:"F d, Y" }}</small>
                </div>
              </div>     
            {% endfor %}
    
        </div>

   
      <div class="col-md-4 mt-5">
         <h1>Top Posts</h1>
      </div>
   </div>
</div>
{% endblock %}
{% include 'footer.html' %}

