{% extends 'base.html' %}
{% load markdownify %}


{% block title %}Home # DataScienceEastAfrica {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card card-cascade wider reverse mt-5 mb-3">
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="{{object.cover_image.url}}"
        alt="Card image cap">
         
    </div>
      <div class="card-body card-body-cascade text-center">
        {% if object.author == user %}
             <a class="btn btn-info btn-sm" href="{% url 'post-update' object.id %}">Update</a>
             <a class="btn btn-danger btn-sm" href="{% url 'post-delete' object.id %}">Delete</a>
          {% endif %} 
        <h4 class="card-title"><strong>{{ object.title }}</strong></h4>
      <h6 class="font-weight-bold indigo-text py-2">By {{ object.author }} on {{ object.date_posted|date:"F d, Y" }} </h6>
      <p class="card-text">{{ object.content|markdownify }}</p>
  
    </div>
    <div class="card-footer">
      <form action="{% url 'like_post' post.pk %}" method="POST">
         {% csrf_token %}
         <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-sm btn-primary">Like</button> - 
         {% if total_likes <= 1  %}
            {{ total_likes }} like
         {% else %} 
             {{ total_likes }} like(s)👍
         {% endif %}  
      </form>

    </div>
  
</div>
  <hr>
    <div class="card card-body mb-3">
      <h3>Comments....</h3>
      <hr> 
      {% if not post.comments.all %}
         No comments Yet....
         <a href="{% url 'post-comment' post.pk %}">Add Comment</a>
      {% else %} 
           
        {% for comment in post.comments.all %}
          <h5 class="text-muted"><strong>
            {{ comment.name }}
            {{ comment.date_added }}
          </strong></h5>
          <p>{{ comment.body }}</p>

          <hr>

        {% endfor %}
        <a href="{% url 'post-comment' post.pk %}">Add Comment</a>

      {% endif %}   
    </div>
    </div>
    

    
  </div>
</div>
  
	
{% include 'footer.html' %}


{% endblock %}
