{% extends 'base.html' %}



{% block title %}Home # DataScienceEastAfrica {% endblock %}

{% block content %}
    <form class="text-center border border-light p-5" action="#!" method="POST">
        {% csrf_token %}
        <p class="h4 mb-4">Sign up Today</p>
        {{ form }}
        <div class="d-flex justify-content-around">
            <div>
                <a href="">Forgot password?</a>
            </div>
        </div>

        <button class="btn btn-info btn-block my-4" type="submit">Sign Up</button>

        <p>Not a member?
            <a href="">Register</a>
        </p>


    </form>
{% endblock content %}